.container {
  padding: 80px 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerTitle {
  font-weight: bold;
}

.title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.description {
  margin-bottom: 30px;
}

.search {
  width: 100%;
  margin-bottom: 16px;
}

.spinContainer {
  position: relative;
  min-height: 200px;
}

.name {
  color: #4894FF;
}

.imageError {
  display: none;
}
  
.imageError + .defaultIcon {
  display: block !important;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
