#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: left;
}

.inputSearch {
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
